@page "/plugins/podserver/podcasts/{podcastId}/seasons/{seasonId}/delete"
@model BTCPayServer.Plugins.PodServer.Pages.Seasons.DeleteModel

@{
    ViewData.SetActivePage(PodServerNavPages.Seasons, Model.Season.Name, Model.Season.PodcastId);
}

<div class="sticky-header">
    <h2 class="mt-1">@ViewData["Title"]</h2>
    <partial name="_PodcastSettingsNav" model="Model.Season.PodcastId" />
</div>

<partial name="_StatusMessage" />

<p>Are you sure you want to remove this season from this podcast?</p>

<form method="post">
    <input type="submit" value="Delete" class="btn btn-danger" id="Delete" />
</form>

